html {
    box-sizing: border-box;
    font-family: roboto, arial, helvetica, sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0 15em;
    background-color: black;
}



.first-container {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 10em 5em 10em;
    gap: 4em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-links {
    display: flex;
    gap: 20px;
}

.first-container-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.left-box {
    display: flex;
    flex-direction: column;
    flex:1;
}

.left-box h1 {
    font-size:48px;
    font-weight: 1000;
    color: #f9faf8;
}
.left-box p {
    font-size: 18px;
}

.right-box {
    display: flex;
    flex:1;
    align-items: center;
    justify-content:center;
    height: 300px;
    width: 600px;
    background-color: green;
}
ul {
    display: flex;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #fff;
}

.first-button {
    background-color: #3882f6;
    border-radius: 5%;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    width: max-content;
}

.second-button {
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    width: max-content;
    height:max-content;
    padding: 5px 25px;
    font-weight: 1000;
    font-size: 18px;
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    gap: 40px;
    background-color: white;
}
.info-title {
    font-size: 36px;
    font-weight: 1000;
}
.info-tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.tile {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px
}

.tile-box {
    border: 5px solid #3882f6;
    border-radius: 10px;
    height: 200px;
}


.third-container {
    display: flex;
    background-color: #e5e7eb;
}
.quote {
    display: flex;
    flex-direction: column;
    padding: 0 10em;
    margin: 5em 10em;

}

.quote :nth-child(1) {
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}

.quote :nth-child(2) {
    align-self: flex-end;
    font-weight: 1000;
}

.fourth-container {
    background-color: white;
    padding: 2em;
}

.bluebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color:white;
    padding: 2em 8em;
    margin: 4em 10em;
    border-radius: 15px;
}

.textarea {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.textarea :nth-child(1){
    font-weight: 800;
    font-size: 24px;
    margin: 0;
}

.textarea :nth-child(2){
    font-size: 18px;
    margin: 0;
}